.sidebar {
    width: 4%;
    border-right: solid 1.3px black;
    height: 900px;
    position: fixed;
    background-color: cadetblue;
    z-index: 999;
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    overflow-y: scroll;
}



.sidebar img {
    width: 50px;
}

.forColor {
    background-color: aliceblue;
}

.forWidth {
    width: 40%;
}

.hide {
    display: none;
}

#options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#cart {
    background-color: aliceblue;
    padding-bottom: 1000px;
}

#btn {
    width: 90px;
    height: 50px;
    color: white;
    background-color: cadetblue;

}

.btn2 {
    padding-top: 30px;
}

#green {
    color: lightcoral;
}

#form {
    padding-top: 30px;
    padding-left: 5px;
    padding-bottom: 10px;
}

#rec {
    padding-bottom: 100px;
    padding-left: 20px;
}

ul {
    overflow-x: scroll;
}

#error {
    color: red;
}

#btn2 {
    padding-left: 5px;
}

#heading {
    padding-top: 30px;
    text-align: center;
}

#close {
    text-align: center;
    padding-top: 20px;
    float: right;
}

#empty {
    color: red;
}