#view {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

#img {
    width: 260px;
    height: 200px;
}

.card {
    border: solid 1px black;
    padding-bottom: 8px;
}

.card p {
    padding-left: 8px;
}

.hide {
    display: none;
}

.catView {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  
  .catView p {
    color: black;
    font-size: 15px;
  }
  