.navbar {
    background-color: cadetblue;
    height: 60px;
    text-align: right;
    padding-top: 20px;
    width: 100%;
    color: white;
    position: fixed;
    border-bottom: solid 1.3px black;
}


#links {
    padding-right: 100px;
    color: white;
    text-decoration: none;
}